@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.page-link{
    border: 0px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar-sm {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.auth-from {
    width: 100%;
}

.comment {
    border-top: dotted 1px gray;
    font-size: 0.7em;
}

/* width가 540이상이면 */
@media(min-width:540px) {
    .auth-form {
        width:540px;
    }
}